body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header, .hero, .footer {
    background-color: #1F2937;
    display: flex;
    padding: 10px 150px;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.main {
    display: flex;
    align-items: center;
}
.main > img {
    height: 45px;
    padding-right: 10px;
}

.title {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8; 
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 650px;
}

.hero-img > img {
    height: 300px;
    border-radius: 8px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.learning-paths {
    display: flex;
    flex-direction: column;
    padding-top: 20px ;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
}

h2 {
    text-align: center;
}

.choices {
    display: flex;
    justify-content: space-evenly;
}

.path {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.path > .field {
    padding-top: 5px;
    font-weight: bold;
}

.path > .desc {
    font-weight: lighter;
    font-size: 14px;
}

.path > img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 2px;
    border: 5px solid #3882F6;

}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.inspiring-quote {
    background-color: #E5E7EB;
    padding: 100px 250px;
    display: flex;
    flex-direction: column;
}

.quote-by {
    text-align: right;
}

.stmt {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.footer {
    color: #E5E7EB;
    justify-content: center;
    padding: 20px;
}

.call-to-action {
    display: flex;
    margin: 50px 150px;
    background-color: #3882F6;
    padding: 50px 100px;
    color: white;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
}

.action-content {
    display: flex;
    flex-direction: column;
}

.action-main-text {
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
}

.action-sub-text {
    font-weight: lighter;
}

button {
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    box-shadow: none;
    font-weight: bolder;
    padding: 8px 30px;
}

.hero-button {
    border: none;
}

.btn > button {
    border-style: solid;
    border-color: white; 
    box-shadow: 0;
}